:root {
    --todo-color: rgb(253, 202, 108);
}

* {
    box-sizing: border-box;
}

button {
    /* background-color: blue; */
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    display: grid;
    grid-template-rows: auto auto 1fr;

}

header {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
}

nav.projects {
    display: grid;
    grid-template-columns: repeat(auto, 50px);
    grid-template-rows: 50px;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    overflow: auto;
}

.project-button {
    border-radius: 10px;
}

.newProject {
    max-width: 50px;
    font-size: 2rem;
}

div.project {
    grid-row: 3 / -1;
    background-color: white;
    border: 10px solid red;
    display: grid;
    grid-template-rows: auto 1fr repeat(2, 50px);
    overflow: auto;
}

.project-title {
    background-color: orange;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 10px;
}

.todos {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    overflow: auto;
}

.todo {
    padding: 30px;
    /* background-color: rgb(177, 177, 177); */
    background-color: var(--todo-color);
    border-radius: 30px;
}

.todo > div {
    display: grid;

    > input {
        background-color: var(--todo-color);
        color: red;
        border-radius: 10px;
        font-weight: bold
    }

    > input:focus {
        background-color: white;
    }

    > input:hover {
        background-color: white;
    }
}

label {
    font-weight: bold;
}